* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.fs-element-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}
.fs-element-1 img {
  width: 45px;
  height: 42px;
  margin-right: 15px;
}
.fs-element-1 a {
  font-weight: 800;
  font-size: 37px;
  line-height: 56px;
  color: #ffffff;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.fs-element-1 a:hover {
  letter-spacing: 8.8px;
  color: crimson;
}

.fs-element-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fs-element-2 ul li a {
  margin-left: 38px;
  font-weight: 500;
  font-size: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: #707070;
  cursor: pointer;
}
.fs-element-2 ul li a:hover {
  letter-spacing: 2.8px;
  color: crimson;
}
@media (max-width: 1000px) {
  .fs-element-2 ul li a {
    color: white;
  }
}
.fs-element-2 ul li:first-child a {
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.fs-element-2 ul li:first-child a div {
  width: 11px;
  height: 6px;
  margin-left: 6px;
  overflow: hidden;
}
.fs-element-2 ul li:first-child a div:hover {
  color: crimson;
}
.fs-element-2 ul li:last-child a {
  margin-right: 0;
}

button,
a,
p,
input,
div {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  overflow-x: hidden;
}

.sectionOne {
  width: 100%;
  margin-top: 46px;
}
.sectionOne .secOne-wrk {
  max-width: 1640px;
  margin: 0px auto;
}
@media (max-width: 1672px) {
  .sectionOne .secOne-wrk {
    padding: 0 20px;
  }
}
@media (max-width: 615px) {
  .sectionOne .secOne-wrk {
    min-width: 615px;
  }
}
.sectionOne .secOne-wrk .first-line .fs-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-element-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-element-1:hover img {
  -webkit-transform: rotateY(-360deg);
          transform: rotateY(-360deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-element-1:hover a {
  letter-spacing: 8.8px;
  color: crimson;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px, #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px, #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-element-1 img {
  width: 45px;
  height: 42px;
  margin-right: 15px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-element-1 a {
  font-weight: 800;
  font-size: 37px;
  line-height: 56px;
  color: #ffffff;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 62%;
  position: relative;
  z-index: 5;
}
@media (max-width: 1252px) {
  .sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree {
    width: 67%;
  }
}
@media (max-width: 1000px) {
  .sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(48, 110, 247);
  }
}
@media (max-width: 624px) {
  .sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree {
    min-width: 624px;
  }
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree .fs-element-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree .fs-element-2 ul li a {
  margin-left: 38px;
  font-weight: 500;
  font-size: 20px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: #707070;
  cursor: pointer;
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree .fs-element-2 ul li a:hover {
  letter-spacing: 3.8px;
  color: red;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px, #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px, #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
}
@media (max-width: 1000px) {
  .sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree .fs-element-2 ul li a {
    color: white;
  }
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree .fs-element-2 ul li:first-child a {
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree .fs-element-2 ul li:first-child a div {
  width: 11px;
  height: 6px;
  margin-left: 6px;
  overflow: hidden;
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree .fs-element-2 ul li:first-child a div:hover {
  color: crimson;
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree .fs-element-2 ul li:last-child a {
  margin-right: 0;
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree .fs-element-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree .fs-element-3 button:first-child {
  background-color: black;
  width: 119px;
  height: 55px;
  -webkit-transform: translateX(-23px);
          transform: translateX(-23px);
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree .fs-element-3 button:first-child:hover {
  width: 140px;
}
@media (max-width: 1000px) {
  .sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree .fs-element-3 button:first-child {
    background-color: white;
    width: 119px;
    height: 55px;
  }
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree .fs-element-3 button:first-child a {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  width: 119px;
  height: 55px;
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree .fs-element-3 button:first-child a:hover {
  width: 100%;
  height: 100%;
  color: white;
}
@media (max-width: 1000px) {
  .sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree .fs-element-3 button:first-child a {
    color: rgb(48, 110, 247);
    width: 119px;
    height: 55px;
  }
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree .fs-element-3 button:last-child {
  background-color: #306ef7;
  width: 119px;
  height: 55px;
  color: white;
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree .fs-element-3 button:last-child:hover {
  width: 140px;
}
@media (max-width: 1000px) {
  .sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree .fs-element-3 button:last-child {
    background-color: white;
    width: 119px;
    height: 55px;
  }
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree .fs-element-3 button:last-child a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}
@media (max-width: 1000px) {
  .sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree .fs-element-3 button:last-child a {
    color: #306ef7;
  }
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-elementTwoAndThree-activi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-burgermenu-wraper {
  width: 60px;
  height: 60px;
  background-color: #306ef7;
  border-radius: 50%;
  display: none;
  position: absolute;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .sectionOne .secOne-wrk .first-line .fs-row .fs-burgermenu-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-burgermenu-wraper .fs-burgermenu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-burgermenu-wraper .fs-burgermenu span {
  width: 40px;
  height: 3px;
  background-color: white;
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-burgermenu-wraper .fs-burgermenu-activi span:first-child {
  -webkit-transform: rotate(45deg) translate(8px, 7px);
          transform: rotate(45deg) translate(8px, 7px);
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-burgermenu-wraper .fs-burgermenu-activi span:nth-child(2) {
  display: none;
}
.sectionOne .secOne-wrk .first-line .fs-row .fs-burgermenu-wraper .fs-burgermenu-activi span:last-child {
  -webkit-transform: rotate(-45deg) translate(8px, -7px);
          transform: rotate(-45deg) translate(8px, -7px);
}
.sectionOne .secOne-wrk .second-line {
  margin-top: 140px;
  width: 100%;
  margin-bottom: 180px;
}
.sectionOne .secOne-wrk .second-line .sl-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionOne .secOne-wrk .second-line .sl-column .sl-element-1 p:first-child {
  font-weight: 700;
  font-size: 112px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 36px;
}
@media (max-width: 1200px) {
  .sectionOne .secOne-wrk .second-line .sl-column .sl-element-1 p:first-child {
    font-size: 98px;
  }
}
@media (max-width: 1078px) {
  .sectionOne .secOne-wrk .second-line .sl-column .sl-element-1 p:first-child {
    font-size: 76px;
  }
}
@media (max-width: 830px) {
  .sectionOne .secOne-wrk .second-line .sl-column .sl-element-1 p:first-child {
    font-size: 56px;
  }
}
.sectionOne .secOne-wrk .second-line .sl-column .sl-element-1 p:last-child {
  text-align: center;
  font-weight: 700;
  font-size: 112px;
  background: -webkit-gradient(linear, left top, right top, color-stop(1.9%, #fe6783), color-stop(97.1%, #ffbf84));
  background: linear-gradient(90deg, #fe6783 1.9%, #ffbf84 97.1%);
  color: white;
}
@media (max-width: 600px) {
  .sectionOne .secOne-wrk .second-line .sl-column .sl-element-1 p:last-child {
    font-size: 86px;
  }
}
.sectionOne .secOne-wrk .second-line .sl-column .sl-element-2 {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionOne .secOne-wrk .second-line .sl-column .sl-element-2 p:first-child {
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  line-height: 60px;
  margin-bottom: 46px;
}
@media (max-width: 748px) {
  .sectionOne .secOne-wrk .second-line .sl-column .sl-element-2 p:first-child {
    font-size: 30px;
  }
}
.sectionOne .secOne-wrk .second-line .sl-column .sl-element-2 .sl-element-2-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 27px;
}
@media (max-width: 748px) {
  .sectionOne .secOne-wrk .second-line .sl-column .sl-element-2 .sl-element-2-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.sectionOne .secOne-wrk .second-line .sl-column .sl-element-2 .sl-element-2-buttons button:first-child {
  width: 313px;
  height: 77px;
  background: #326cf9;
  font-size: 20px;
  color: #ffffff;
}
.sectionOne .secOne-wrk .second-line .sl-column .sl-element-2 .sl-element-2-buttons button:first-child:hover {
  width: 340px;
}
@media (max-width: 748px) {
  .sectionOne .secOne-wrk .second-line .sl-column .sl-element-2 .sl-element-2-buttons button:first-child {
    margin-bottom: 40px;
  }
}
.sectionOne .secOne-wrk .second-line .sl-column .sl-element-2 .sl-element-2-buttons button:last-child {
  border: 1px solid #707070;
  background-color: black;
  width: 312px;
  height: 76px;
  color: white;
  font-size: 20px;
}
.sectionOne .secOne-wrk .second-line .sl-column .sl-element-2 .sl-element-2-buttons button:last-child:hover {
  width: 340px;
}
.sectionOne .secOne-wrk .second-line .sl-column .sl-element-2 .sl-element-2-button-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionOne .secOne-wrk .second-line .sl-column .sl-element-2 .sl-element-2-button-text .sl-ele-2-bt-outer {
  width: 28px;
  height: 28px;
  background: rgba(15, 198, 92, 0.24);
  mix-blend-mode: normal;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 6px;
}
.sectionOne .secOne-wrk .second-line .sl-column .sl-element-2 .sl-element-2-button-text .sl-ele-2-bt-outer .sl-ele-2-bt-inner {
  width: 17px;
  height: 17px;
  background: rgb(15, 198, 92);
  border-radius: 50%;
}
.sectionOne .secOne-wrk .second-line .sl-column .sl-element-2 .sl-element-2-button-text p:last-child {
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  color: #707070;
}
@media (max-width: 748px) {
  .sectionOne .secOne-wrk .second-line .sl-column .sl-element-2 .sl-element-2-button-text p:last-child {
    font-size: 18px;
  }
}
.sectionOne .secOne-wrk .second-line .sl-column .sl-element-2 .sl-element-2-button-text p:last-child span {
  color: white;
  margin-right: 6px;
}
.sectionOne .secOne-wrk .third-line {
  width: 100%;
}
.sectionOne .secOne-wrk .third-line .thl-wrk {
  max-width: 1483px;
  margin: 0px auto;
}
.sectionOne .secOne-wrk .third-line .thl-wrk .thl-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionOne .secOne-wrk .third-line .thl-wrk .thl-row .thl-element-1 p:first-child {
  font-weight: 600;
  font-size: 75px;
  color: #ffffff;
  margin-bottom: 97px;
}
@media (max-width: 1050px) {
  .sectionOne .secOne-wrk .third-line .thl-wrk .thl-row .thl-element-1 p:first-child {
    font-size: 45px;
  }
}
@media (max-width: 650px) {
  .sectionOne .secOne-wrk .third-line .thl-wrk .thl-row .thl-element-1 p:first-child {
    font-size: 35px;
  }
}
.sectionOne .secOne-wrk .third-line .thl-wrk .thl-row .thl-element-2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1352px) {
  .sectionOne .secOne-wrk .third-line .thl-wrk .thl-row .thl-element-2 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1352px) {
  .sectionOne .secOne-wrk .third-line .thl-wrk .thl-row .thl-element-2 .thl-sub-element {
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-bottom: 50px;
  }
}
.sectionOne .secOne-wrk .third-line .thl-wrk .thl-row .thl-element-2 .thl-sub-element .thl-visceral-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}
@media (max-width: 1352px) {
  .sectionOne .secOne-wrk .third-line .thl-wrk .thl-row .thl-element-2 .thl-sub-element .thl-visceral-1 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media (max-width: 550px) {
  .sectionOne .secOne-wrk .third-line .thl-wrk .thl-row .thl-element-2 .thl-sub-element .thl-visceral-1 {
    margin-left: 30px;
  }
}
.sectionOne .secOne-wrk .third-line .thl-wrk .thl-row .thl-element-2 .thl-sub-element .thl-visceral-1 img {
  width: 37px;
  height: 37px;
  margin-right: 17px;
}
.sectionOne .secOne-wrk .third-line .thl-wrk .thl-row .thl-element-2 .thl-sub-element .thl-visceral-1 p {
  font-weight: 600;
  font-size: 35px;
  color: #ffffff;
}
.sectionOne .secOne-wrk .third-line .thl-wrk .thl-row .thl-element-2 .thl-sub-element .thl-visceral-2 p {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #707070;
}
@media (max-width: 550px) {
  .sectionOne .secOne-wrk .third-line .thl-wrk .thl-row .thl-element-2 .thl-sub-element .thl-visceral-2 p {
    margin-left: 30px;
  }
}

.sectionTwo {
  width: 100%;
  margin-top: 160px;
}
.sectionTwo .secTwo-wrk {
  max-width: 1731px;
  margin: 0px auto;
}
@media (max-width: 1672px) {
  .sectionTwo .secTwo-wrk {
    padding: 0 20px;
  }
}
@media (max-width: 615px) {
  .sectionTwo .secTwo-wrk {
    min-width: 615px;
  }
}
.sectionTwo .secTwo-wrk .stepOne-line .stOne-element-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 182px;
}
.sectionTwo .secTwo-wrk .stepOne-line .stOne-element-1 p:first-child {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 34px;
  color: #3d82f2;
}
@media (max-width: 980px) {
  .sectionTwo .secTwo-wrk .stepOne-line .stOne-element-1 p:first-child {
    font-size: 18px;
  }
}
.sectionTwo .secTwo-wrk .stepOne-line .stOne-element-1 p:nth-child(2) {
  font-size: 75px;
  margin-bottom: 30px;
  color: #ffffff;
}
@media (max-width: 980px) {
  .sectionTwo .secTwo-wrk .stepOne-line .stOne-element-1 p:nth-child(2) {
    font-size: 54px;
  }
}
@media (max-width: 666px) {
  .sectionTwo .secTwo-wrk .stepOne-line .stOne-element-1 p:nth-child(2) {
    font-size: 34px;
  }
}
.sectionTwo .secTwo-wrk .stepOne-line .stOne-element-1 p:nth-child(3) {
  font-weight: 400;
  font-size: 30px;
  color: #707070;
  text-align: center;
  margin-bottom: 30px;
  line-height: 45px;
}
@media (max-width: 980px) {
  .sectionTwo .secTwo-wrk .stepOne-line .stOne-element-1 p:nth-child(3) {
    font-size: 20px;
  }
}
@media (max-width: 666px) {
  .sectionTwo .secTwo-wrk .stepOne-line .stOne-element-1 p:nth-child(3) {
    font-size: 16px;
  }
}
.sectionTwo .secTwo-wrk .stepOne-line .stOne-element-1 button {
  width: 313px;
  height: 77px;
  border: 1px solid #707070;
  background-color: black;
  color: #707070;
  font-weight: 600;
  font-size: 20px;
  color: #707070;
}
.sectionTwo .secTwo-wrk .stepOne-line .stOne-element-1 button:hover {
  width: 340px;
}
.sectionTwo .secTwo-wrk .stepOne-line .stOne-element-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1550px) {
  .sectionTwo .secTwo-wrk .stepOne-line .stOne-element-2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1550px) {
  .sectionTwo .secTwo-wrk .stepOne-line .stOne-element-2 .stOne-eleTwo-sub-one {
    margin-bottom: 50px;
  }
}
.sectionTwo .secTwo-wrk .stepOne-line .stOne-element-2 .stOne-eleTwo-sub-one p:first-child {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
  margin-bottom: 80px;
}
@media (max-width: 1550px) {
  .sectionTwo .secTwo-wrk .stepOne-line .stOne-element-2 .stOne-eleTwo-sub-one p:first-child {
    text-align: center;
  }
}
.sectionTwo .secTwo-wrk .stepOne-line .stOne-element-2 .stOne-eleTwo-sub-one p:nth-child(2) {
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
  color: #ffffff;
  margin-bottom: 27px;
}
@media (max-width: 1550px) {
  .sectionTwo .secTwo-wrk .stepOne-line .stOne-element-2 .stOne-eleTwo-sub-one p:nth-child(2) {
    text-align: center;
  }
}
.sectionTwo .secTwo-wrk .stepOne-line .stOne-element-2 .stOne-eleTwo-sub-one p:nth-child(2) span {
  color: #3c82f4;
}
.sectionTwo .secTwo-wrk .stepOne-line .stOne-element-2 .stOne-eleTwo-sub-one p:nth-child(3) {
  font-weight: 400;
  font-size: 23px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  margin-bottom: 40px;
}
.sectionTwo .secTwo-wrk .stepOne-line .stOne-element-2 .stOne-eleTwo-sub-one p:nth-child(3):before {
  content: "1";
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 6px;
}
.sectionTwo .secTwo-wrk .stepOne-line .stOne-element-2 .stOne-eleTwo-sub-one p:nth-child(4) {
  font-weight: 400;
  font-size: 23px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 66px;
}
.sectionTwo .secTwo-wrk .stepOne-line .stOne-element-2 .stOne-eleTwo-sub-one p:nth-child(4)::before {
  content: "2";
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 6px;
}
@media (max-width: 1550px) {
  .sectionTwo .secTwo-wrk .stepOne-line .stOne-element-2 .stOne-eleTwo-sub-one .stOne-eleTwo-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.sectionTwo .secTwo-wrk .stepOne-line .stOne-element-2 .stOne-eleTwo-sub-one .stOne-eleTwo-buttons button:first-child {
  width: 207px;
  height: 65px;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  background: #326cf9;
  margin-right: 16px;
}
.sectionTwo .secTwo-wrk .stepOne-line .stOne-element-2 .stOne-eleTwo-sub-one .stOne-eleTwo-buttons button:first-child:hover {
  width: 240px;
}
.sectionTwo .secTwo-wrk .stepOne-line .stOne-element-2 .stOne-eleTwo-sub-one .stOne-eleTwo-buttons button:last-child {
  width: 207px;
  height: 65px;
  border: 1px solid #707070;
  background-color: #0e0e0e;
  font-weight: 500;
  font-size: 20px;
  color: #707070;
}
.sectionTwo .secTwo-wrk .stepOne-line .stOne-element-2 .stOne-eleTwo-sub-one .stOne-eleTwo-buttons button:last-child:hover {
  width: 240px;
}
.sectionTwo .secTwo-wrk .stepOne-line .stOne-element-2 .stOne-eleTwo-sub-two .stpThree-subele-img {
  max-width: 90%;
  margin: 0px auto;
  max-height: 709px;
}
.sectionTwo .secTwo-wrk .stepOne-line .stOne-element-2 .stOne-eleTwo-sub-two .stpThree-subele-img img {
  width: 100%;
  height: 100%;
}
.sectionTwo .secTwo-wrk .stepTwo-line {
  width: 100%;
  margin-top: 100px;
}
.sectionTwo .secTwo-wrk .stepTwo-line .stTwo-wrk {
  max-width: 1731px;
  margin: 0px auto;
}
.sectionTwo .secTwo-wrk .stepTwo-line .stTwo-wrk .stTwo-element-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 140px;
}
.sectionTwo .secTwo-wrk .stepTwo-line .stTwo-wrk .stTwo-element-1 p:first-child {
  font-weight: 600;
  font-size: 25px;
  color: #3d82f2;
  margin-bottom: 47px;
}
@media (max-width: 990px) {
  .sectionTwo .secTwo-wrk .stepTwo-line .stTwo-wrk .stTwo-element-1 p:first-child {
    font-size: 18px;
  }
}
.sectionTwo .secTwo-wrk .stepTwo-line .stTwo-wrk .stTwo-element-1 p:nth-child(2) {
  font-weight: 600;
  font-size: 75px;
  color: #ffffff;
  margin-bottom: 40px;
}
@media (max-width: 900px) {
  .sectionTwo .secTwo-wrk .stepTwo-line .stTwo-wrk .stTwo-element-1 p:nth-child(2) {
    font-size: 54px;
  }
}
@media (max-width: 700px) {
  .sectionTwo .secTwo-wrk .stepTwo-line .stTwo-wrk .stTwo-element-1 p:nth-child(2) {
    font-size: 34px;
  }
}
.sectionTwo .secTwo-wrk .stepTwo-line .stTwo-wrk .stTwo-element-1 p:last-child {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #707070;
  text-align: center;
}
@media (max-width: 900px) {
  .sectionTwo .secTwo-wrk .stepTwo-line .stTwo-wrk .stTwo-element-1 p:last-child {
    font-size: 20px;
  }
}
@media (max-width: 700px) {
  .sectionTwo .secTwo-wrk .stepTwo-line .stTwo-wrk .stTwo-element-1 p:last-child {
    font-size: 16px;
  }
}
.sectionTwo .secTwo-wrk .stepTwo-line .stTwo-wrk .stTwo-element-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1000px) {
  .sectionTwo .secTwo-wrk .stepTwo-line .stTwo-wrk .stTwo-element-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.sectionTwo .secTwo-wrk .stepTwo-line .stTwo-wrk .stTwo-element-2 .stTwo-subelement {
  width: 48%;
  height: 666px;
  background: #0d0d0d;
  padding-top: 30px;
  padding-left: 44px;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .sectionTwo .secTwo-wrk .stepTwo-line .stTwo-wrk .stTwo-element-2 .stTwo-subelement {
    width: 90%;
    margin-bottom: 50px;
  }
}
.sectionTwo .secTwo-wrk .stepTwo-line .stTwo-wrk .stTwo-element-2 .stTwo-subelement p:first-child {
  font-weight: 400;
  font-size: 30px;
  color: #0fc65c;
  margin-bottom: 45px;
}
.sectionTwo .secTwo-wrk .stepTwo-line .stTwo-wrk .stTwo-element-2 .stTwo-subelement p:nth-child(2) {
  font-weight: 600;
  font-size: 80px;
  line-height: 90px;
  margin-bottom: 30px;
  color: #919191;
}
.sectionTwo .secTwo-wrk .stepTwo-line .stTwo-wrk .stTwo-element-2 .stTwo-subelement p:nth-child(3) {
  font-weight: 600;
  font-size: 80px;
  color: #ffffff;
  margin-bottom: 29px;
}
.sectionTwo .secTwo-wrk .stepTwo-line .stTwo-wrk .stTwo-element-2 .stTwo-subelement .stTwo-subele-image {
  max-width: 788px;
  height: 338px;
  overflow: hidden;
}
.sectionTwo .secTwo-wrk .stepTwo-line .stTwo-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}
.sectionTwo .secTwo-wrk .stepTwo-line .stTwo-button button {
  width: 283px;
  height: 74px;
  background-color: #326cf9;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.sectionTwo .secTwo-wrk .stepTwo-line .stTwo-button button:hover {
  width: 320px;
}
.sectionTwo .secTwo-wrk .stepThree-line {
  width: 100%;
  margin-top: 149px;
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk {
  max-width: 1731px;
  margin: 0px auto;
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-1 p:first-child {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #3d82f2;
  margin-bottom: 39px;
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-1 p:nth-child(2) {
  font-weight: 500;
  font-size: 75px;
  line-height: 112px;
  color: #ffffff;
  margin-bottom: 33px;
}
@media (max-width: 1160px) {
  .sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-1 p:nth-child(2) {
    font-size: 45px;
  }
}
@media (max-width: 706px) {
  .sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-1 p:nth-child(2) {
    font-size: 35px;
  }
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-1 p:last-child {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #707070;
}
@media (max-width: 960px) {
  .sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-1 p:last-child {
    font-size: 20px;
  }
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 {
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1550px) {
  .sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement .stpThree-subele-img {
  max-width: 100%;
  margin: 0px auto;
  max-height: 709px;
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement .stpThree-subele-img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1550px) {
  .sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement {
    margin-bottom: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement p:nth-child(1) {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 72px;
  color: #ffffff;
}
@media (max-width: 760px) {
  .sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement p:nth-child(1) {
    font-size: 25px;
  }
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement p:nth-child(2) {
  font-style: normal;
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
  margin-bottom: 40px;
  color: #ffffff;
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement p:nth-child(2) span {
  color: #326cf9;
}
@media (max-width: 1550px) {
  .sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement p:nth-child(2) {
    text-align: center;
  }
}
@media (max-width: 760px) {
  .sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement p:nth-child(2) {
    font-size: 55px;
  }
}
@media (max-width: 560px) {
  .sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement p:nth-child(2) {
    font-size: 35px;
  }
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement p:nth-child(3) {
  font-weight: 400;
  font-size: 23px;
  margin-bottom: 16px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement p:nth-child(3):before {
  content: "1";
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
}
@media (max-width: 760px) {
  .sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement p:nth-child(3) {
    font-size: 16px;
  }
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement p:nth-child(4) {
  font-weight: 400;
  font-size: 23px;
  margin-bottom: 26px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement p:nth-child(4):before {
  content: "2";
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
}
@media (max-width: 760px) {
  .sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement p:nth-child(4) {
    font-size: 16px;
  }
}
@media (max-width: 560px) {
  .sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement p:nth-child(4) {
    font-size: 14px;
  }
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement .stpThree-subele-buttons {
  margin-top: 64px;
}
@media (max-width: 500px) {
  .sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement .stpThree-subele-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement .stpThree-subele-buttons button:nth-child(1) {
  width: 207px;
  height: 65px;
  background: #326cf9;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  margin-right: 15px;
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement .stpThree-subele-buttons button:nth-child(1):hover {
  width: 230px;
}
@media (max-width: 500px) {
  .sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement .stpThree-subele-buttons button:nth-child(1) {
    margin-bottom: 50px;
  }
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement .stpThree-subele-buttons button:nth-child(2) {
  width: 207px;
  height: 65px;
  border: 1px solid #707070;
  background: #0e0e0e;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #707070;
}
.sectionTwo .secTwo-wrk .stepThree-line .stpThree-wrk .stpThree-element-2 .stpThree-subelement .stpThree-subele-buttons button:nth-child(2):hover {
  width: 230px;
}

.sectionThree {
  width: 100%;
  margin-top: 99px;
}
.sectionThree .secThree-wrk {
  width: 100%;
}
@media (max-width: 615px) {
  .sectionThree .secThree-wrk {
    min-width: 615px;
  }
}
.sectionThree .secThree-wrk .expertsLine {
  width: 100%;
}
.sectionThree .secThree-wrk .expertsLine .expWrk {
  width: 100%;
  text-align: center;
}
.sectionThree .secThree-wrk .expertsLine .expWrk p {
  font-weight: 600;
  font-size: 75px;
  color: #ffffff;
  margin-bottom: 52px;
}
.sectionThree .secThree-wrk .expertsLine .expWrk .exp-bg {
  width: 100%;
  height: 442px;
  background: url("../img/twitter.png");
}
.sectionThree .secThree-wrk .bg-line {
  margin-top: 132px;
  width: 100%;
}
.sectionThree .secThree-wrk .bg-line .bgLine-wrk {
  width: 100%;
  height: 779px;
  background: url("../img/background.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sectionThree .secThree-wrk .bg-line .bgLine-wrk p {
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 105px;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .sectionThree .secThree-wrk .bg-line .bgLine-wrk p {
    font-size: 50px;
    text-align: center;
  }
}
@media (max-width: 860px) {
  .sectionThree .secThree-wrk .bg-line .bgLine-wrk p {
    font-size: 35px;
  }
}
.sectionThree .secThree-wrk .preLast-line {
  width: 100%;
}
.sectionThree .secThree-wrk .preLast-line .prl-wrk {
  max-width: 880px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionThree .secThree-wrk .preLast-line .prl-wrk img {
  width: 124px;
  height: 124px;
  margin-bottom: 20px;
}
.sectionThree .secThree-wrk .preLast-line .prl-wrk p:nth-child(2) {
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
  color: #ffffff;
  margin-bottom: 40px;
}
@media (max-width: 900px) {
  .sectionThree .secThree-wrk .preLast-line .prl-wrk p:nth-child(2) {
    font-size: 80px;
  }
}
@media (max-width: 700px) {
  .sectionThree .secThree-wrk .preLast-line .prl-wrk p:nth-child(2) {
    font-size: 35px;
  }
}
.sectionThree .secThree-wrk .preLast-line .prl-wrk p:nth-child(3) {
  font-style: normal;
  font-weight: 400;
  font-size: 43px;
  color: #ffffff;
  margin-bottom: 30px;
}
@media (max-width: 900px) {
  .sectionThree .secThree-wrk .preLast-line .prl-wrk p:nth-child(3) {
    font-size: 30px;
  }
}
@media (max-width: 700px) {
  .sectionThree .secThree-wrk .preLast-line .prl-wrk p:nth-child(3) {
    font-size: 20px;
  }
}
.sectionThree .secThree-wrk .preLast-line .prl-wrk button {
  width: 472px;
  height: 102px;
  background: #326cf9;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
}
.sectionThree .secThree-wrk .preLast-line .prl-wrk button:hover {
  width: 510px;
}
@media (max-width: 700px) {
  .sectionThree .secThree-wrk .preLast-line .prl-wrk button {
    width: 250px;
    font-size: 22px;
  }
}
.sectionThree .secThree-wrk .preLast-line .prl-wrk .prl-textAndCircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionThree .secThree-wrk .preLast-line .prl-wrk .prl-textAndCircle .prl-circletext {
  width: 37px;
  height: 37px;
  background-color: rgba(15, 198, 92, 0.24);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transform: translateY(-23px);
          transform: translateY(-23px);
  margin-right: 10px;
}
.sectionThree .secThree-wrk .preLast-line .prl-wrk .prl-textAndCircle .prl-circletext .prl-visceralCircle {
  width: 19px;
  height: 19px;
  background-color: #0fc65c;
  border-radius: 50%;
}
.sectionThree .secThree-wrk .preLast-line .prl-wrk .prl-textAndCircle p {
  font-weight: 400;
  font-size: 38px;
  text-align: center;
  color: #707070;
}
.sectionThree .secThree-wrk .preLast-line .prl-wrk .prl-textAndCircle p span {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
  color: #ffffff;
}
@media (max-width: 800px) {
  .sectionThree .secThree-wrk .preLast-line .prl-wrk .prl-textAndCircle p span {
    font-size: 24px;
  }
}
@media (max-width: 800px) {
  .sectionThree .secThree-wrk .preLast-line .prl-wrk .prl-textAndCircle p {
    font-size: 24px;
  }
}
.sectionThree .secThree-wrk .last-line {
  width: 100%;
  margin-top: 150px;
}
.sectionThree .secThree-wrk .last-line .lal-wrk {
  max-width: 1641px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1672px) {
  .sectionThree .secThree-wrk .last-line .lal-wrk {
    padding: 0 20px;
  }
}
.sectionThree .secThree-wrk .last-line .lal-wrk .lal-element-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.sectionThree .secThree-wrk .last-line .lal-wrk .lal-element-1 .lal-subele-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.sectionThree .secThree-wrk .last-line .lal-wrk .lal-element-1 .lal-subele-1 .lal-subele-1-img {
  width: 47px;
  height: 51px;
  margin-right: 17px;
}
.sectionThree .secThree-wrk .last-line .lal-wrk .lal-element-1 .lal-subele-1 .lal-subele-1-img img {
  width: 100%;
  height: 100%;
}
.sectionThree .secThree-wrk .last-line .lal-wrk .lal-element-1 .lal-subele-1 p {
  font-weight: 800;
  font-size: 42px;
  color: #ffffff;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}
.sectionThree .secThree-wrk .last-line .lal-wrk .lal-element-1 p {
  font-weight: 400;
  font-size: 27px;
  color: #707070;
}
.sectionThree .secThree-wrk .last-line .lal-wrk .lal-element-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 770px) {
  .sectionThree .secThree-wrk .last-line .lal-wrk .lal-element-2 ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.sectionThree .secThree-wrk .last-line .lal-wrk .lal-element-2 ul li {
  margin-left: 25px;
}
@media (max-width: 770px) {
  .sectionThree .secThree-wrk .last-line .lal-wrk .lal-element-2 ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
}
.sectionThree .secThree-wrk .last-line .lal-wrk .lal-element-2 ul li a {
  font-weight: 500;
  font-size: 28px;
  color: #707070;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.sectionThree .secThree-wrk .last-line .lal-wrk .lal-element-2 ul li a:hover {
  letter-spacing: 3.8px;
  color: red;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px, #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px, #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
}