@import "nullstyle.scss";
button,
a,
p,
input,
div {
   font-family: "Poppins", sans-serif;
}
body {
   background-color: black;
   overflow-x: hidden;
}
.sectionOne {
   width: 100%;
   margin-top: 46px;

   .secOne-wrk {
      max-width: 1640px;
      margin: 0px auto;
      @media (max-width: 1672px) {
         padding: 0 20px;
      }
      @media (max-width: 534px) {
         min-width: 534px;
      }

      .first-line {
         .fs-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .fs-element-1 {
               display: flex;
               align-items: center;
               width: 20%;
               & img {
                  width: 45px;
                  height: 42px;
                  margin-right: 15px;
               }
               & a {
                  font-weight: 800;
                  font-size: 37px;
                  line-height: 56px;
                  color: #ffffff;
                  transition-duration: 0.2s;
                  &:hover {
                     letter-spacing: 8.8px;
                     color: crimson;
                  }
               }
            }
            .fs-elementTwoAndThree {
               display: flex;
               align-items: center;
               justify-content: space-between;
               width: 62%;
               position: relative;
               z-index: 5;
               @media (max-width: 1252px) {
                  width: 67%;
               }
               @media (max-width: 1000px) {
                  justify-content: space-around;
                  display: none;
                  flex-direction: column;
                  align-items: center;
                  position: absolute;
                  top: 120px;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: rgba(48, 110, 247, 1);
               }
               @media (max-width: 624px) {
                  min-width: 624px;
               }
               .fs-element-2 {
                  & ul {
                     display: flex;
                     align-items: center;

                     & li {
                        & a {
                           margin-left: 38px;
                           font-weight: 500;
                           font-size: 20px;
                           transition-duration: 0.3s;
                           color: #707070;
                           &:hover {
                              letter-spacing: 2.8px;
                              color: crimson;
                           }
                           cursor: pointer;
                           @media (max-width: 1000px) {
                              color: white;
                           }
                        }
                     }
                     & li:first-child {
                        & a {
                           margin-left: 0;
                           display: flex;
                           align-items: center;
                           justify-content: center;

                           & div {
                              width: 11px;
                              height: 6px;
                              margin-left: 6px;
                              overflow: hidden;
                              &:hover {
                                 color: crimson;
                              }
                           }
                        }
                     }
                     & li:last-child {
                        & a {
                           margin-right: 0;
                        }
                     }
                  }
               }
               .fs-element-3 {
                  display: flex;
                  align-items: center;

                  & button:first-child {
                     background-color: black;
                     width: 119px;
                     height: 55px;
                     transform: translateX(-23px);
                     &:hover {
                        width: 140px;
                     }
                     @media (max-width: 1000px) {
                        background-color: white;
                        width: 119px;
                        height: 55px;
                     }
                     & a {
                        color: #ffffff;
                        font-weight: 500;
                        font-size: 20px;
                        width: 119px;
                        height: 55px;
                        &:hover {
                           width: 100%;
                           height: 100%;
                           color: white;
                        }
                        @media (max-width: 1000px) {
                           color: rgba(48, 110, 247, 1);
                           width: 119px;
                           height: 55px;
                        }
                     }
                  }
                  & button:last-child {
                     background-color: #306ef7;
                     width: 119px;
                     height: 55px;
                     color: white;
                     &:hover {
                        width: 140px;
                     }
                     @media (max-width: 1000px) {
                        background-color: white;
                        width: 119px;
                        height: 55px;
                     }
                     & a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        font-weight: 500;
                        font-size: 20px;
                        color: #ffffff;
                        @media (max-width: 1000px) {
                           color: #306ef7;
                        }
                     }
                  }
               }
            }
            .fs-elementTwoAndThree-activi {
               display: flex;
            }

            .fs-burgermenu-wraper {
               width: 60px;
               height: 60px;
               background-color: #306ef7;
               border-radius: 50%;
               display: none;
               position: absolute;
               overflow: hidden;
               @media (max-width: 1000px) {
                  display: flex;
                  position: relative;
               }
               .fs-burgermenu {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-evenly;
                  align-items: center;
                  & span {
                     width: 40px;
                     height: 3px;
                     background-color: white;
                  }
               }
               .fs-burgermenu-activi {
                  & span:first-child {
                     transform: rotate(45deg) translate(8px, 7px);
                  }
                  & span:nth-child(2) {
                     display: none;
                  }
                  & span:last-child {
                     transform: rotate(-45deg) translate(8px, -7px);
                  }
               }
            }
         }
      }
      .second-line {
         width: 100%;
         margin-top: 128px;
         .sl-wrk {
            width: 100%;
            max-width: 1255px;
            margin: 0px auto;
            .sl-element-1 {
               display: flex;
               align-items: center;
               flex-direction: column;
               margin-bottom: 130px;

               & p:nth-child(1) {
                  font-weight: 600;
                  font-size: 120px;
                  color: #ffffff;
                  margin-bottom: 29px;
                  @media (max-width: 1054px) {
                     font-size: 80px;
                  }

                  @media (max-width: 726px) {
                     font-size: 50px;
                  }
               }
               & p:nth-child(2) {
                  font-style: normal;
                  font-weight: 400;
                  font-size: 30px;
                  color: #ffffff;
                  @media (max-width: 802px) {
                     font-size: 20px;
                  }
                  @media (max-width: 542px) {
                     font-size: 16px;
                  }
               }
            }
            .sl-element-2 {
               .sl-sub-element {
                  display: flex;
                  justify-content: space-between;
                  margin-bottom: 25px;
                  @media (max-width: 950px) {
                     flex-direction: column;
                     align-items: center;
                  }
                  .sl-visceral-element {
                     width: 30%;
                     border: 1px solid #707070;
                     height: 243px;
                     border-radius: 15px;
                     @media (max-width: 950px) {
                        width: 70%;

                        margin-bottom: 50px;
                     }
                     .sl-ve-wrk {
                        width: 90%;
                        margin: 0px auto;

                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        @media (max-width: 950px) {
                           display: flex;
                           flex-direction: column;
                           align-items: center;
                        }

                        & img {
                           width: 50px;
                           height: 50px;
                           margin-top: 25px;
                           margin-bottom: 20px;
                        }
                        & p:nth-child(2) {
                           font-style: normal;
                           font-weight: 600;
                           font-size: 30px;
                           color: #ffffff;
                           margin-bottom: 30px;
                           @media (max-width: 950px) {
                              text-align: center;
                           }
                        }
                        & p:nth-child(3) {
                           font-weight: 400;
                           font-size: 23px;
                           color: #828282;
                           text-align: center;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}
.sectionThree {
   width: 100%;
   margin-top: 99px;

   .secThree-wrk {
      width: 100%;

      .bg-line {
         margin-top: 132px;
         width: 100%;
         .bgLine-wrk {
            width: 100%;
            height: 779px;
            background: url("../img/background.png");
            display: flex;
            align-items: center;
            justify-content: center;
            & p {
               font-style: normal;
               font-weight: 600;
               font-size: 70px;
               line-height: 105px;
               color: #ffffff;
               @media (max-width: 1200px) {
                  font-size: 50px;
                  text-align: center;
               }
               @media (max-width: 860px) {
                  font-size: 35px;
               }
            }
         }
      }
      .preLast-line {
         width: 100%;
         .prl-wrk {
            max-width: 880px;
            margin: 0px auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            & img {
               width: 124px;
               height: 124px;
               margin-bottom: 20px;
            }
            & p:nth-child(2) {
               font-style: normal;
               font-weight: 700;
               font-size: 100px;
               line-height: 150px;
               color: #ffffff;
               margin-bottom: 40px;
               @media (max-width: 900px) {
                  font-size: 80px;
               }
               @media (max-width: 700px) {
                  font-size: 35px;
               }
            }
            & p:nth-child(3) {
               font-style: normal;
               font-weight: 400;
               font-size: 43px;
               color: #ffffff;
               margin-bottom: 30px;
               @media (max-width: 900px) {
                  font-size: 30px;
               }
               @media (max-width: 700px) {
                  font-size: 20px;
               }
            }
            & button {
               width: 472px;
               height: 102px;
               background: #326cf9;
               font-style: normal;
               font-weight: 600;
               font-size: 30px;
               line-height: 45px;
               color: #ffffff;
               @media (max-width: 700px) {
                  width: 250px;
                  font-size: 22px;
               }
            }
            .prl-textAndCircle {
               display: flex;
               align-items: center;

               .prl-circletext {
                  width: 37px;
                  height: 37px;
                  background-color: rgba(15, 198, 92, 0.24);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  transform: translateY(-23px);
                  margin-right: 10px;
                  .prl-visceralCircle {
                     width: 19px;
                     height: 19px;
                     background-color: #0fc65c;
                     border-radius: 50%;
                  }
               }
               & p {
                  font-weight: 400;
                  font-size: 38px;
                  text-align: center;
                  color: #707070;
                  & span {
                     font-style: normal;
                     font-weight: 700;
                     font-size: 38px;
                     line-height: 57px;
                     color: #ffffff;
                     @media (max-width: 800px) {
                        font-size: 24px;
                     }
                  }
                  @media (max-width: 800px) {
                     font-size: 24px;
                  }
               }
            }
         }
      }
      .last-line {
         width: 100%;
         margin-top: 150px;
         .lal-wrk {
            max-width: 1641px;
            margin: 0px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 1672px) {
               padding: 0 20px;
            }
            .lal-element-1 {
               display: flex;
               flex-direction: column;
               align-items: start;

               .lal-subele-1 {
                  display: flex;
                  align-items: center;
                  margin-bottom: 25px;
                  .lal-subele-1-img {
                     width: 47px;
                     height: 51px;
                     margin-right: 17px;
                     & img {
                        width: 100%;
                        height: 100%;
                     }
                  }

                  & p {
                     font-weight: 800;
                     font-size: 42px;
                     color: #ffffff;
                     transform: translateY(3px);
                  }
               }
               & p {
                  font-weight: 400;
                  font-size: 27px;
                  color: #707070;
               }
            }
            .lal-element-2 {
               & ul {
                  display: flex;
                  @media (max-width: 770px) {
                     flex-direction: column;
                  }
                  & li {
                     margin-left: 25px;
                     @media (max-width: 770px) {
                        flex-direction: column;
                        margin-bottom: 30px;
                     }
                     & a {
                        font-weight: 500;
                        font-size: 28px;
                        color: #707070;
                        cursor: pointer;
                        transition-duration: 0.5s;
                        &:hover {
                           letter-spacing: 2.8px;
                           color: crimson;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}
