@import "nullstyle.scss";

button,
a,
p,
input,
div {
   font-family: "Poppins", sans-serif;
}
body {
   background-color: black;
   overflow-x: hidden;
}

.sectionOne {
   width: 100%;
   margin-top: 46px;

   .secOne-wrk {
      max-width: 1640px;
      margin: 0px auto;
      @media (max-width: 1672px) {
         padding: 0 20px;
      }
      @media (max-width: 615px) {
         min-width: 615px;
      }

      .first-line {
         .fs-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .fs-element-1 {
               display: flex;
               align-items: center;
               width: 20%;
               & img {
                  width: 45px;
                  height: 42px;
                  margin-right: 15px;
               }
               & a {
                  font-weight: 800;
                  font-size: 37px;
                  line-height: 56px;
                  color: #ffffff;
               }
            }
            .fs-elementTwoAndThree {
               display: flex;
               align-items: center;
               justify-content: space-between;
               width: 62%;
               position: relative;
               z-index: 5;
               @media (max-width: 1252px) {
                  width: 67%;
               }
               @media (max-width: 1000px) {
                  justify-content: space-around;
                  display: none;
                  flex-direction: column;
                  align-items: center;
                  position: absolute;
                  top: 120px;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: rgba(48, 110, 247, 1);
               }
               @media (max-width: 624px) {
                  min-width: 624px;
               }
               .fs-element-2 {
                  & ul {
                     display: flex;
                     align-items: center;

                     & li {
                        & a {
                           margin-left: 38px;
                           font-weight: 500;
                           font-size: 20px;

                           color: #707070;
                           cursor: pointer;
                           @media (max-width: 1000px) {
                              color: white;
                           }
                        }
                     }
                     & li:first-child {
                        & a {
                           margin-left: 0;
                           display: flex;
                           align-items: center;
                           justify-content: center;

                           & div {
                              width: 11px;
                              height: 6px;
                              margin-left: 6px;
                              overflow: hidden;
                           }
                        }
                     }
                     & li:last-child {
                        & a {
                           margin-right: 0;
                        }
                     }
                  }
               }
               .fs-element-3 {
                  display: flex;
                  align-items: center;

                  & button:first-child {
                     background-color: black;

                     transform: translateX(-23px);
                     @media (max-width: 1000px) {
                        background-color: white;
                        width: 119px;
                        height: 55px;
                     }
                     & a {
                        color: #707070;
                        font-weight: 500;
                        font-size: 20px;
                        @media (max-width: 1000px) {
                           color: rgba(48, 110, 247, 1);
                           width: 119px;
                           height: 55px;
                        }
                     }
                  }
                  & button:last-child {
                     background-color: #306ef7;
                     width: 119px;
                     height: 55px;
                     color: white;
                     @media (max-width: 1000px) {
                        background-color: white;
                        width: 119px;
                        height: 55px;
                     }
                     & a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        font-weight: 500;
                        font-size: 20px;
                        color: #ffffff;
                        @media (max-width: 1000px) {
                           color: #306ef7;
                        }
                     }
                  }
               }
            }
            .fs-elementTwoAndThree-activi {
               display: flex;
            }

            .fs-burgermenu-wraper {
               width: 60px;
               height: 60px;
               background-color: #306ef7;
               border-radius: 50%;
               display: none;
               position: absolute;
               overflow: hidden;
               @media (max-width: 1000px) {
                  display: flex;
                  position: relative;
               }
               .fs-burgermenu {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-evenly;
                  align-items: center;
                  & span {
                     width: 40px;
                     height: 3px;
                     background-color: white;
                  }
               }
               .fs-burgermenu-activi {
                  & span:first-child {
                     transform: rotate(45deg) translate(8px, 7px);
                  }
                  & span:nth-child(2) {
                     display: none;
                  }
                  & span:last-child {
                     transform: rotate(-45deg) translate(8px, -7px);
                  }
               }
            }
         }
      }

      .second-line {
         margin-top: 140px;
         width: 100%;
         margin-bottom: 180px;
         .sl-column {
            display: flex;
            flex-direction: column;
            align-items: center;
            .sl-element-1 {
               & p:first-child {
                  font-weight: 700;
                  font-size: 112px;
                  color: #ffffff;
                  text-align: center;
                  margin-bottom: 36px;
                  @media (max-width: 1200px) {
                     font-size: 98px;
                  }
                  @media (max-width: 1078px) {
                     font-size: 76px;
                  }
                  @media (max-width: 830px) {
                     font-size: 56px;
                  }
               }
               & p:last-child {
                  text-align: center;
                  font-weight: 700;
                  font-size: 112px;
                  background: linear-gradient(90deg, #fe6783 1.9%, #ffbf84 97.1%);
                  color: white;
                  @media (max-width: 600px) {
                     font-size: 86px;
                  }
               }
            }
            .sl-element-2 {
               margin-top: 150px;
               display: flex;
               flex-direction: column;
               align-items: center;

               & p:first-child {
                  font-weight: 500;
                  font-size: 40px;
                  text-align: center;
                  color: #ffffff;
                  line-height: 60px;
                  margin-bottom: 46px;
                  @media (max-width: 748px) {
                     font-size: 30px;
                  }
               }
               .sl-element-2-buttons {
                  display: flex;
                  align-items: center;
                  width: 100%;
                  justify-content: space-around;
                  margin-bottom: 27px;
                  @media (max-width: 748px) {
                     flex-direction: column;
                  }
                  & button:first-child {
                     width: 313px;
                     height: 77px;
                     background: #326cf9;
                     font-size: 20px;
                     color: #ffffff;
                     @media (max-width: 748px) {
                        margin-bottom: 40px;
                     }
                  }
                  & button:last-child {
                     border: 1px solid #707070;
                     background-color: black;
                     width: 312px;
                     height: 76px;
                     color: white;
                     font-size: 20px;
                  }
               }
               .sl-element-2-button-text {
                  display: flex;
                  align-items: center;
                  .sl-ele-2-bt-outer {
                     width: 28px;
                     height: 28px;
                     background: rgba(15, 198, 92, 0.24);
                     mix-blend-mode: normal;
                     transform: translateY(-2px);
                     border-radius: 50%;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     margin-right: 6px;
                     .sl-ele-2-bt-inner {
                        width: 17px;
                        height: 17px;
                        background: rgb(15, 198, 92);
                        border-radius: 50%;
                     }
                  }
                  & p:last-child {
                     font-size: 25px;
                     line-height: 38px;
                     text-align: center;
                     color: #707070;
                     @media (max-width: 748px) {
                        font-size: 18px;
                     }
                     & span {
                        color: white;
                        margin-right: 6px;
                     }
                  }
               }
            }
         }
      }

      .third-line {
         width: 100%;
         .thl-wrk {
            max-width: 1483px;
            margin: 0px auto;
            .thl-row {
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               align-items: center;
               .thl-element-1 {
                  & p:first-child {
                     font-weight: 600;
                     font-size: 75px;
                     color: #ffffff;
                     margin-bottom: 97px;
                     @media (max-width: 1050px) {
                        font-size: 45px;
                     }
                     @media (max-width: 650px) {
                        font-size: 35px;
                     }
                  }
               }
               .thl-element-2 {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  @media (max-width: 1352px) {
                     justify-content: flex-start;
                     flex-direction: column;
                     align-items: center;
                  }
                  .thl-sub-element {
                     @media (max-width: 1352px) {
                        width: 500px;
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        margin-bottom: 50px;
                     }
                     .thl-visceral-1 {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 25px;
                        @media (max-width: 1352px) {
                           justify-content: start;
                        }
                        @media (max-width: 550px) {
                           margin-left: 30px;
                        }
                        & img {
                           width: 37px;
                           height: 37px;
                           margin-right: 17px;
                        }
                        & p {
                           font-weight: 600;
                           font-size: 35px;
                           color: #ffffff;
                        }
                     }
                     .thl-visceral-2 {
                        & p {
                           font-weight: 400;
                           font-size: 22px;
                           line-height: 33px;
                           color: #707070;
                           @media (max-width: 550px) {
                              margin-left: 30px;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}

.sectionTwo {
   width: 100%;
   margin-top: 160px;
   .secTwo-wrk {
      max-width: 1731px;
      margin: 0px auto;
      @media (max-width: 1672px) {
         padding: 0 20px;
      }
      @media (max-width: 615px) {
         min-width: 615px;
      }
      .stepOne-line {
         .stOne-element-1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 182px;
            & p:first-child {
               font-weight: 600;
               font-size: 25px;
               margin-bottom: 34px;
               color: #3d82f2;
               @media (max-width: 980px) {
                  font-size: 18px;
               }
            }
            & p:nth-child(2) {
               font-size: 75px;
               margin-bottom: 30px;
               color: #ffffff;
               @media (max-width: 980px) {
                  font-size: 54px;
               }
               @media (max-width: 666px) {
                  font-size: 34px;
               }
            }
            & p:nth-child(3) {
               font-weight: 400;
               font-size: 30px;
               color: #707070;
               text-align: center;
               margin-bottom: 30px;
               line-height: 45px;
               @media (max-width: 980px) {
                  font-size: 20px;
               }
               @media (max-width: 666px) {
                  font-size: 16px;
               }
            }
            & button {
               width: 313px;
               height: 77px;
               border: 1px solid #707070;
               background-color: black;
               color: #707070;
               font-weight: 600;
               font-size: 20px;
               color: #707070;
            }
         }
         .stOne-element-2 {
            display: flex;
            justify-content: space-between;
            @media (max-width: 1550px) {
               align-items: center;
               flex-direction: column;
            }
            .stOne-eleTwo-sub-one {
               @media (max-width: 1550px) {
                  margin-bottom: 50px;
               }
               & p:first-child {
                  font-style: normal;
                  font-weight: 500;
                  font-size: 30px;
                  line-height: 45px;
                  color: #ffffff;
                  margin-bottom: 80px;
                  @media (max-width: 1550px) {
                     text-align: center;
                  }
               }
               & p:nth-child(2) {
                  font-weight: 600;
                  font-size: 75px;
                  line-height: 112px;
                  color: #ffffff;
                  margin-bottom: 27px;
                  @media (max-width: 1550px) {
                     text-align: center;
                  }
                  & span {
                     color: #3c82f4;
                  }
               }
               & p:nth-child(3) {
                  font-weight: 400;
                  font-size: 23px;
                  color: #ffffff;
                  display: flex;
                  align-items: center;
                  margin-bottom: 10px;
                  margin-bottom: 40px;
                  &:before {
                     content: "1";
                     width: 33px;
                     height: 33px;
                     border-radius: 50%;
                     background: #2d2d2d;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     margin-right: 6px;
                  }
               }
               & p:nth-child(4) {
                  font-weight: 400;
                  font-size: 23px;
                  color: #ffffff;
                  display: flex;
                  align-items: center;
                  margin-bottom: 66px;
                  &::before {
                     content: "2";
                     width: 33px;
                     height: 33px;
                     border-radius: 50%;
                     background: #2d2d2d;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     margin-right: 6px;
                  }
               }
               .stOne-eleTwo-buttons {
                  @media (max-width: 1550px) {
                     display: flex;
                     justify-content: center;
                  }
                  & button:first-child {
                     width: 207px;
                     height: 65px;
                     font-weight: 500;
                     font-size: 20px;
                     color: #ffffff;
                     background: #326cf9;
                     margin-right: 16px;
                  }
                  & button:last-child {
                     width: 207px;
                     height: 65px;
                     border: 1px solid #707070;
                     background-color: #0e0e0e;
                     font-weight: 500;
                     font-size: 20px;
                     color: #707070;
                  }
               }
            }
            .stOne-eleTwo-sub-two {
               .stpThree-subele-img {
                  max-width: 90%;
                  margin: 0px auto;
                  max-height: 709px;

                  & img {
                     width: 100%;
                     height: 100%;
                  }
               }
            }
         }
      }
      .stepTwo-line {
         width: 100%;
         margin-top: 100px;
         .stTwo-wrk {
            max-width: 1731px;
            margin: 0px auto;
            .stTwo-element-1 {
               display: flex;
               flex-direction: column;
               align-items: center;
               margin-bottom: 140px;
               & p:first-child {
                  font-weight: 600;
                  font-size: 25px;
                  color: #3d82f2;
                  margin-bottom: 47px;
                  @media (max-width: 990px) {
                     font-size: 18px;
                  }
               }
               & p:nth-child(2) {
                  font-weight: 600;
                  font-size: 75px;
                  color: #ffffff;
                  margin-bottom: 40px;
                  @media (max-width: 900px) {
                     font-size: 54px;
                  }
                  @media (max-width: 700px) {
                     font-size: 34px;
                  }
               }
               & p:last-child {
                  font-weight: 400;
                  font-size: 30px;
                  line-height: 45px;
                  color: #707070;
                  text-align: center;
                  @media (max-width: 900px) {
                     font-size: 20px;
                  }
                  @media (max-width: 700px) {
                     font-size: 16px;
                  }
               }
            }
            .stTwo-element-2 {
               display: flex;
               justify-content: space-between;
               @media (max-width: 1000px) {
                  flex-direction: column;
                  align-items: center;
               }
               .stTwo-subelement {
                  width: 48%;
                  height: 666px;
                  background: #0d0d0d;
                  padding-top: 30px;
                  padding-left: 44px;
                  overflow: hidden;
                  @media (max-width: 1000px) {
                     width: 90%;
                     margin-bottom: 50px;
                  }
                  & p:first-child {
                     font-weight: 400;
                     font-size: 30px;
                     color: #0fc65c;
                     margin-bottom: 45px;
                  }
                  & p:nth-child(2) {
                     font-weight: 600;
                     font-size: 80px;
                     line-height: 90px;
                     margin-bottom: 30px;
                     color: #919191;
                  }
                  & p:nth-child(3) {
                     font-weight: 600;
                     font-size: 80px;

                     color: #ffffff;
                     margin-bottom: 29px;
                  }
                  .stTwo-subele-image {
                     max-width: 788px;
                     height: 338px;
                     overflow: hidden;
                     & img {
                     }
                  }
               }
            }
         }
         .stTwo-button {
            display: flex;
            justify-content: center;
            margin-top: 60px;
            & button {
               width: 283px;
               height: 74px;
               background-color: #326cf9;
               font-style: normal;
               font-weight: 500;
               font-size: 20px;
               line-height: 30px;
               color: #ffffff;
            }
         }
      }
      .stepThree-line {
         width: 100%;
         margin-top: 149px;
         .stpThree-wrk {
            max-width: 1731px;
            margin: 0px auto;

            .stpThree-element-1 {
               display: flex;
               flex-direction: column;
               align-items: center;
               & p:first-child {
                  font-weight: 500;
                  font-size: 25px;
                  line-height: 38px;
                  color: #3d82f2;
                  margin-bottom: 39px;
               }
               & p:nth-child(2) {
                  font-weight: 500;
                  font-size: 75px;
                  line-height: 112px;
                  color: #ffffff;
                  margin-bottom: 33px;
                  @media (max-width: 1160px) {
                     font-size: 45px;
                  }
                  @media (max-width: 706px) {
                     font-size: 35px;
                  }
               }
               & p:last-child {
                  font-style: normal;
                  font-weight: 400;
                  font-size: 30px;
                  line-height: 45px;
                  text-align: center;
                  color: #707070;
                  @media (max-width: 960px) {
                     font-size: 20px;
                  }
               }
            }
            .stpThree-element-2 {
               margin-top: 160px;
               display: flex;
               justify-content: space-between;
               @media (max-width: 1550px) {
                  align-items: center;
                  flex-direction: column;
               }
               .stpThree-subelement {
                  .stpThree-subele-img {
                     max-width: 100%;
                     margin: 0px auto;
                     max-height: 709px;

                     & img {
                        width: 100%;
                        height: 100%;
                     }
                  }
                  display: flex;
                  flex-direction: column;
                  align-items: start;
                  @media (max-width: 1550px) {
                     margin-bottom: 50px;
                     align-items: center;
                  }
                  & p:nth-child(1) {
                     font-style: normal;
                     font-weight: 500;
                     font-size: 30px;
                     margin-bottom: 72px;
                     color: #ffffff;
                     @media (max-width: 760px) {
                        font-size: 25px;
                     }
                  }
                  & p:nth-child(2) {
                     font-style: normal;
                     font-weight: 600;
                     font-size: 75px;
                     line-height: 112px;
                     margin-bottom: 40px;
                     color: #ffffff;
                     & span {
                        color: #326cf9;
                     }
                     @media (max-width: 1550px) {
                        text-align: center;
                     }
                     @media (max-width: 760px) {
                        font-size: 55px;
                     }
                     @media (max-width: 560px) {
                        font-size: 35px;
                     }
                  }
                  & p:nth-child(3) {
                     font-weight: 400;
                     font-size: 23px;
                     margin-bottom: 16px;
                     color: #ffffff;
                     display: flex;
                     align-items: center;
                     &:before {
                        content: "1";
                        width: 33px;
                        height: 33px;
                        border-radius: 50%;
                        background: #2d2d2d;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 8px;
                     }
                     @media (max-width: 760px) {
                        font-size: 16px;
                     }
                  }
                  & p:nth-child(4) {
                     font-weight: 400;
                     font-size: 23px;
                     margin-bottom: 26px;
                     color: #ffffff;
                     display: flex;
                     align-items: center;
                     &:before {
                        content: "2";
                        width: 33px;
                        height: 33px;
                        border-radius: 50%;
                        background: #2d2d2d;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 8px;
                     }
                     @media (max-width: 760px) {
                        font-size: 16px;
                     }
                     @media (max-width: 560px) {
                        font-size: 14px;
                     }
                  }
                  .stpThree-subele-buttons {
                     margin-top: 64px;
                     @media (max-width: 500px) {
                        display: flex;
                        flex-direction: column;
                     }
                     & button:nth-child(1) {
                        width: 207px;
                        height: 65px;
                        background: #326cf9;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        color: #ffffff;
                        margin-right: 15px;
                        @media (max-width: 500px) {
                           margin-bottom: 50px;
                        }
                     }
                     & button:nth-child(2) {
                        width: 207px;
                        height: 65px;
                        border: 1px solid #707070;
                        background: #0e0e0e;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 30px;
                        color: #707070;
                     }
                  }
               }
            }
         }
      }
   }
}

.sectionThree {
   width: 100%;
   margin-top: 99px;

   .secThree-wrk {
      width: 100%;
      @media (max-width: 615px) {
         min-width: 615px;
      }
      .expertsLine {
         width: 100%;
         .expWrk {
            width: 100%;

            text-align: center;
            & p {
               font-weight: 600;
               font-size: 75px;
               color: #ffffff;
               margin-bottom: 52px;
            }
            .exp-bg {
               width: 100%;
               height: 442px;
               background: url("../img/twitter.png");
            }
         }
      }
      .bg-line {
         margin-top: 132px;
         width: 100%;
         .bgLine-wrk {
            width: 100%;
            height: 779px;
            background: url("../img/background.png");
            display: flex;
            align-items: center;
            justify-content: center;
            & p {
               font-style: normal;
               font-weight: 600;
               font-size: 70px;
               line-height: 105px;
               color: #ffffff;
               @media (max-width: 1200px) {
                  font-size: 50px;
                  text-align: center;
               }
               @media (max-width: 860px) {
                  font-size: 35px;
               }
            }
         }
      }
      .preLast-line {
         width: 100%;
         .prl-wrk {
            max-width: 880px;
            margin: 0px auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            & img {
               width: 124px;
               height: 124px;
               margin-bottom: 20px;
            }
            & p:nth-child(2) {
               font-style: normal;
               font-weight: 700;
               font-size: 100px;
               line-height: 150px;
               color: #ffffff;
               margin-bottom: 40px;
               @media (max-width: 900px) {
                  font-size: 80px;
               }
               @media (max-width: 700px) {
                  font-size: 35px;
               }
            }
            & p:nth-child(3) {
               font-style: normal;
               font-weight: 400;
               font-size: 43px;
               color: #ffffff;
               margin-bottom: 30px;
               @media (max-width: 900px) {
                  font-size: 30px;
               }
               @media (max-width: 700px) {
                  font-size: 20px;
               }
            }
            & button {
               width: 472px;
               height: 102px;
               background: #326cf9;
               font-style: normal;
               font-weight: 600;
               font-size: 30px;
               line-height: 45px;
               color: #ffffff;
               @media (max-width: 700px) {
                  width: 250px;
                  font-size: 22px;
               }
            }
            .prl-textAndCircle {
               display: flex;
               align-items: center;

               .prl-circletext {
                  width: 37px;
                  height: 37px;
                  background-color: rgba(15, 198, 92, 0.24);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  transform: translateY(-23px);
                  margin-right: 10px;
                  .prl-visceralCircle {
                     width: 19px;
                     height: 19px;
                     background-color: #0fc65c;
                     border-radius: 50%;
                  }
               }
               & p {
                  font-weight: 400;
                  font-size: 38px;
                  text-align: center;
                  color: #707070;
                  & span {
                     font-style: normal;
                     font-weight: 700;
                     font-size: 38px;
                     line-height: 57px;
                     color: #ffffff;
                     @media (max-width: 800px) {
                        font-size: 24px;
                     }
                  }
                  @media (max-width: 800px) {
                     font-size: 24px;
                  }
               }
            }
         }
      }
      .last-line {
         width: 100%;
         margin-top: 150px;
         .lal-wrk {
            max-width: 1641px;
            margin: 0px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 1672px) {
               padding: 0 20px;
            }
            .lal-element-1 {
               display: flex;
               flex-direction: column;
               align-items: start;

               .lal-subele-1 {
                  display: flex;
                  align-items: center;
                  margin-bottom: 25px;
                  .lal-subele-1-img {
                     width: 47px;
                     height: 51px;
                     margin-right: 17px;
                     & img {
                        width: 100%;
                        height: 100%;
                     }
                  }

                  & p {
                     font-weight: 800;
                     font-size: 42px;
                     color: #ffffff;
                     transform: translateY(3px);
                  }
               }
               & p {
                  font-weight: 400;
                  font-size: 27px;
                  color: #707070;
               }
            }
            .lal-element-2 {
               & ul {
                  display: flex;
                  @media (max-width: 770px) {
                     flex-direction: column;
                  }
                  & li {
                     margin-left: 25px;
                     @media (max-width: 770px) {
                        flex-direction: column;
                        margin-bottom: 30px;
                     }
                     & a {
                        font-weight: 500;
                        font-size: 28px;
                        color: #707070;
                        cursor: pointer;
                     }
                  }
               }
            }
         }
      }
   }
}
